@font-face {
    font-family: 'roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); ;
    font-weight: normal;
    font-style: normal;
}

html,body{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: 'roboto', sans-serif;
}

.logo > img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding-left: 16px;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #1f2937;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.head-links{
    display: flex;
    gap: 16px;
    padding-top: 24px;
    padding-right: 24px;
}

button{
    background-color: #3882f6;
    padding: 8px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    border: none;
}

.info{
    display: flex;
    justify-content: center;
    
    background-color: #1f2937;
    align-items: center;
    gap: 64px;
}

.heading{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.p{
    font-size: 18px;
    color: #e5e7eb;
}
.info-img>img{
    width: 369px;
    height: 480px;
}

.second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.second >.second-header{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-top: 32px;
}

.img > img{
    height: 200px;
    width: 200px;
    border: 6px solid #3882f6; 
    border-radius: 20px;
}