@font-face {
    font-family: 'roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); ;
    font-weight: normal;
    font-style: normal;
}

html,body{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    
    font-family: 'roboto', sans-serif;
}

.logo > img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding-left: 16px;
}

.header{
    
    display: flex;
    justify-content: space-between;
    padding: 16px;  
}
.header,.footer{
    background-color: #1f2937;
    color: #f9faf8;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}

.head-links{
    display: flex;
    gap: 16px;
    padding-top: 24px;
    padding-right: 24px;
}
.button1 {
    background-color: #3882f6;
    padding: 8px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    border: none;
    margin-top: 16px;
}


.info{
    display: flex;
    justify-content: center;
    
    background-color: #1f2937;
    align-items: center;
    gap: 64px;
}

.heading{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.p{
    padding-top: 16px;
    font-size: 18px;
    color: #e5e7eb;
}
.info-img>img{
    width: 369px;
    height: 480px;
    padding-bottom: 32px;
}

.second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 64px;
}

.content{
    display: flex;
    gap: 24px;
    font-size: 18px;
    flex-wrap: wrap;
}

.second >.second-header{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-bottom: 24px;
}

.img > img{
    height: 200px;
    width: 200px;
    border: 6px solid #3882f6; 
    border-radius: 20px;
}
.text{
    padding-top: 16px;
    font-size: 18px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.quote{
    background-color: #e5e7eb;
    color: #1f2937;
    margin: 0;
    padding: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
figcaption{
    font-weight: 900;
    padding-left: 500px;
}
.quote > .quote-text{
    font-size: 36px;
    font-style: italic;
    justify-self: center;
}

.figura{
    background-color: #3882f6;
    justify-content: space-between;
    display: flex;
    margin: 128px;
    border-radius: 10px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.add{
    margin-left: 48px;
}

.button2{
    font-weight: 900;
    background-color: #3882f6;
    border-color: #f9faf8;
    border-radius: 10px;
    border: 0,5px;
    margin-right:48px ;
    color: white;
    border-style: solid;
    padding: 8px;
}

.text1, .text2{
    color: #f9faf8;
    font-size: 18px ;
}

.text1{
    font-weight: 800;
}

@media screen and (max-width: 768px){

}